<!DOCTYPE HTML>
<html>
<head>

    @RenderPage("_Meta.cshtml")

    <title>User Center</title>
    <meta name="keywords" content="Localink UserCenter">
    <meta name="description" content="Localink UserCenter">
</head>
<body>
    @RenderBody()

    @RenderPage("_Footer.cshtml")

</body>
</html>