
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">空白页</span></nav>
<div class="Hui-article">
    <article class="cl pd-20">
        <section class="page-403 minWP text-c">
            <p class="error-title"><i class="Hui-iconfont va-m" style="font-size:80px">&#xe656;</i><span class="va-m"> 404</span></p>
            <p class="error-description">不好意思，您没有访问权限~</p>
        </section>
    </article>
</div>

